* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
}

.sidebar h1 {
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
}

.sidebar a.active {
    color: #1e90ff;
}

/* MAIN AREA */
.main {
    flex: 1;
}

/* TOP BLUE BAR */
.topbar {
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}

/* CONTENT */
.content {
    padding: 20px;
}

.content hr {
    margin: 10px 0 25px;
}

/* GALLERY FLEXBOX */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 680px;
}

/* BOXES */
.box {
    width: 200px;
    height: 200px;
    background-color: #8c8c8c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

/* CENTER BOX 7 */
.center {
    margin-left: auto;
    margin-right: auto;
}
